<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<style type="text/css">
.ui-layout-unit-content {
	background: #F8F8FF;
}

.myLayoutStyleClass .ui-layout-unit-content {
	background: yellow;
}
</style>

</h:head>
<h:body>


	<h:form id="mainForm">
		<p:layout fullPage="true">
			<p:layoutUnit position="north" resizable="false"
				styleClass="myLayoutStyleClass">
				<h:panelGrid columns="2" cellpadding="5">
				<p:graphicImage value="/resources/images/Expedia_logo.svg.png" width="400" height="100"/>
				<h1>#{screenLabels.HOTEL_OFFER_HEADER}</h1>
				</h:panelGrid>
			</p:layoutUnit>
			<p:layoutUnit position="center" styleClass="ui-layout-unit-content">
				<p:messages id="messages" showDetail="false" autoUpdate="true"
					closable="true" />

				<h:panelGrid columns="7" cellpadding="5">
					<p:outputLabel for="city" value="#{screenLabels.CITY}" />
					<p:inputText id="city"
						value="#{offersInfoBacking.searchHotel.city}" required="false"
						label="#{screenLabels.CITY}">
						<f:validateLength minimum="2" />
					</p:inputText>
					<p:message for="city" display="icon" />
					<p:spacer width="20"></p:spacer>
					<p:outputLabel for="lengthOfStay"
						value="#{screenLabels.LENGTH_OF_STAY}" />
					<p:inputText id="lengthOfStay"
						value="#{offersInfoBacking.searchHotel.lengthOfStay}"
						label="#{screenLabels.LENGTH_OF_STAY}">
					</p:inputText>
					<p:message for="lengthOfStay" display="icon" />


					<p:outputLabel for="minTripStartDate"
						value="#{screenLabels.MIN_TRIP_START_DATE}" />
					<p:calendar id="minTripStartDate" pattern="dd/MM/yyyy"
						maxdate="#{offersInfoBacking.searchHotel.maxTripStartDate}"
						value="#{offersInfoBacking.searchHotel.minTripStartDate}">
						<p:ajax event="dateSelect" update="maxTripStartDate" />
					</p:calendar>
					<p:message for="minTripStartDate" display="icon" />
					<p:spacer width="20"></p:spacer>
					<p:outputLabel for="maxTripStartDate"
						value="#{screenLabels.MAX_TRIP_START_DATE}" />
					<p:calendar id="maxTripStartDate" pattern="dd/MM/yyyy"
						mindate="#{offersInfoBacking.searchHotel.minTripStartDate}"
						value="#{offersInfoBacking.searchHotel.maxTripStartDate}">
						<p:ajax event="dateSelect" update="minTripStartDate" />
					</p:calendar>
					<p:message for="maxTripStartDate" display="icon" />

					<p:outputLabel for="minStarRating"
						value="#{screenLabels.MIN_START_RATING}" />
					<p:inputText id="minStarRating"
						value="#{offersInfoBacking.searchHotel.minStarRating}"
						label="Min Star Rating">
						<p:ajax event="blur" update="maxStarRating" />
					</p:inputText>
					<p:message for="maxStarRating" display="icon" />
					<p:spacer width="20"></p:spacer>
					<p:outputLabel for="maxStarRating"
						value="#{screenLabels.MAX_START_RATING}" />
					<p:inputText id="maxStarRating"
						value="#{offersInfoBacking.searchHotel.maxStarRating}"
						label="Max Star Rating">
						<f:validateDoubleRange
							minimum="#{offersInfoBacking.searchHotel.minStarRating}" />
						<p:ajax event="blur" update="minStarRating" />

					</p:inputText>
					<p:message for="maxStarRating" display="icon" />

					<p:outputLabel for="minGuestRating"
						value="#{screenLabels.MIN_GUEST_RATING}" />
					<p:inputText id="minGuestRating"
						value="#{offersInfoBacking.searchHotel.minGuestRating}"
						label="Min Guest Rating">
						<p:ajax event="blur" update="maxGuestRating" />
					</p:inputText>
					<p:message for="minGuestRating" display="icon" />
					<p:spacer width="20"></p:spacer>
					<p:outputLabel for="maxGuestRating"
						value="#{screenLabels.Max_GUEST_RATING}" />
					<p:inputText id="maxGuestRating"
						value="#{offersInfoBacking.searchHotel.maxGuestRating}"
						label="Max Guest Rating">
						<f:validateDoubleRange
							minimum="#{offersInfoBacking.searchHotel.minGuestRating}" />
						<p:ajax event="blur" update="minGuestRating" />
					</p:inputText>
					<p:message for="maxGuestRating" display="icon" />

					<p:commandButton value="#{screenLabels.SEARCH_BTN}"
						action="#{offersInfoBacking.populateOffers()}" update="hotelsOffer messages totalNum" />
			
					<p:commandButton value="#{screenLabels.REST_BTN}"
						action="#{offersInfoBacking.reset()}" update="hotelsOffer messages totalNum" />
				<p:spacer height="50"></p:spacer>
				</h:panelGrid>

<p:outputLabel value="Total Number Of Results : #{offersInfoBacking.hotelsOfferList.size()}" id="totalNum"></p:outputLabel>
				<p:dataTable var="offer"
					value="#{offersInfoBacking.hotelsOfferList}" id="hotelsOffer"
					rows="5000">
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{screenLabels.HOTEL_PIC}" />
						</f:facet>
						<p:graphicImage value="#{offer.hotelInfo.hotelImageUrl}" />
					</p:column>
					<p:column sortBy="#{offer.hotelInfo.hotelName}">
						<f:facet name="header">
							<h:outputText value="#{screenLabels.HOTEL_NAME}" />
						</f:facet>
						<h:outputLabel value="#{offer.hotelInfo.hotelName}" />
					</p:column>
					<p:column sortBy="#{offer.hotelInfo.hotelCity}">
						<f:facet name="header">
							<h:outputText value="#{screenLabels.CITY}" />
						</f:facet>
						<h:outputLabel value="#{offer.hotelInfo.hotelCity}" />
					</p:column>
					<p:column >
						<f:facet name="header">
							<h:outputText value="#{screenLabels.TRAVEL_START_DATE}" />
						</f:facet>
						<h:outputText
							value="#{offer.offerDateRange.travelStartDate.get(2)}/#{offer.offerDateRange.travelStartDate.get(1)}/#{offer.offerDateRange.travelStartDate.get(0)}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{screenLabels.TRAVEL_END_DATE}" />
						</f:facet>
						<h:outputText
							value="#{offer.offerDateRange.travelEndDate.get(2)}/#{offer.offerDateRange.travelEndDate.get(1)}/#{offer.offerDateRange.travelEndDate.get(0)}" />

					</p:column>
					<p:column sortBy="#{offer.offerDateRange.lengthOfStay}">
						<f:facet name="header">
							<h:outputText value="#{screenLabels.LENGTH_OF_STAY}" />
						</f:facet>
						<h:outputLabel value="#{offer.offerDateRange.lengthOfStay}" />
					</p:column>
					<p:column sortBy="#{offer.hotelInfo.hotelStarRating}">
						<f:facet name="header" >
							<h:outputText value="#{screenLabels.STAR_RATING}" />
						</f:facet>
						<h:outputLabel value="#{offer.hotelInfo.hotelStarRating}" />
					</p:column>
					<p:column sortBy="#{offer.hotelInfo.hotelGuestReviewRating}">
						<f:facet name="header">
							<h:outputText value="#{screenLabels.GUEST_RATING}" />
						</f:facet>
						<h:outputLabel value="#{offer.hotelInfo.hotelGuestReviewRating}" />
					</p:column>

				</p:dataTable>
			</p:layoutUnit>
		</p:layout>
		<p:ajaxStatus onstart="console.log('start');PF('statusDialog').show()"
			oncomplete="console.log('end');PF('statusDialog').hide()" />
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<h:panelGrid columns="1">
				<p:graphicImage value="/resources/images/Expedia_logo.svg.png" width="400" height="100"/>
				<p:graphicImage value="/resources/images/ajaxloaderbar.gif" />
			</h:panelGrid>
		</p:dialog>
	</h:form>
</h:body>
</html>
